/* stylesheet */

body{
      font-family:'Courier New', Courier, monospace;
      text-align: center;

}

article{
      font: size 12;
      white-space: normal;
      text-align: center;
}

#footer{
      font: size 10
}